<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="8" class="blue">
      </ion-col>
      <ion-col size="4" class="center-block">
        <router-outlet />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
