ion-grid, ion-row{
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.blue {
  background-image: url("https://cdn.pixabay.com/photo/2022/07/19/18/32/vegetables-7332762_1280.jpg");
  background-size: cover;
}
