<!-- MENU -->
<ion-menu contentId="account">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>Opciones</ion-list-header>
      <ion-item
        *ngFor="let item of menuListItems"
        (click)="goToDirection(item.route)"
      >
        <ion-icon slot="end" [name]="item.icon" />
        {{ item.title }}
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-button expand="block" (click)="goBack()">
      <ion-icon
        slot="start"
        name="arrow-back-circle-outline"
      />Volver</ion-button
    >
  </ion-footer>
</ion-menu>

<!-- TOOLBAR -->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button color="primary" />
  </ion-buttons>
  <ion-title class="ion-text-center">
    <h1>Gestión de la cuenta</h1>
  </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" id="account">
  <router-outlet />
</ion-content>
