<div class="panel">
  <ion-grid>
    <!-- ROW FOR HEADER TOOLBAR AND BUTTONS -->
    <ion-row>
      <ion-toolbar>
        <ion-icon slot="start" name="people" size="large" />
        <ion-title> Gestión de usuarios </ion-title>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button
            fill="solid"
            color="primary"
            expand="block"
            (click)="goToCreationUserView()"
          >
            <ion-icon name="add" />
            Nuevo usuario
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>

    <!-- ROWS FOR USERS LIST -->

    <ion-row
      class="ion-justify-content-between ion-align-items-center ion-activatable ripple-parent selectable"
      *ngFor="let user of users"
      (click)="viewUserDetail(user.uid)"
    >
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
      <!-- Avatar -->
      <ion-col
        class="ion-justify-self-start"
        size="1"
        sizeXs="2"
        sizeSm="2"
        sizeMd="1"
      >
        <ion-avatar
          ><img [src]="user.photoURL || noPhoto" alt="Foto de perfil"
        /></ion-avatar>
      </ion-col>
      <!-- Names -->
      <ion-col size="3">
        <h5 class="ion.text-start">Nombres</h5>
        <h6 class="ion.text-start" title="Brandon Isaac Fonseca">
          {{ user.displayName }}
        </h6>
      </ion-col>
      <!-- DNI -->
      <!-- <ion-col size="2">
        <h5 class="ion.text-start">Cédula</h5>
        <h6 class="ion.text-start" title="121-090199-1002G">
          {{ user.identification }}
        </h6>
      </ion-col> -->
      <!-- Email -->
      <ion-col size="3">
        <h5 class="ion.text-start">E-mail</h5>
        <h6 class="ion.text-start">{{ user.email }}</h6>
      </ion-col>
      <!-- Teléfono -->
      <ion-col size="2" class="action-sustitute">
        <h5 class="ion.text-start">Teléfono</h5>
        <h6 class="ion.text-start">{{ user.phoneNumber || "Sin Teléfono" }}</h6>
      </ion-col>
      <ion-buttons>
        <ion-button fill="clear" color="primary">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>
  </ion-grid>
</div>
