.panel {
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  width: 90vw;
  margin: 0px auto;
  margin-top: 20px;
  height: 80vh;
}

.dflex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-ripple {
  color: var(--ion-color-primary);
}

.selectable {
  cursor: pointer;
}

ion-grid {
  width: 90%;
  ion-row {
    border-bottom: solid 1px #d4d4d4;
    margin: 0px auto;
    position: relative;
  }
}

ion-avatar {
  height: 50px;
  width: 50px;
}

h5 {
  font-size: small;
  font-weight: 700;
}

h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h5,
h6 {
  margin-block: 5px;
  color: #303030;
}
