<ion-content>
  <ion-grid class="panel ion-padding">

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button fill="clear" (click)="goBack()" slot="start">
            <ion-icon name="chevron-back" />
            Volver
          </ion-button>
          <ion-button fill="clear" (click)="deleteBill()" slot="end" color="danger">
            <ion-icon name="trash" />
            Eliminar</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- ROW FOR HEADING -->
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <h2 slot="start">
            {{saleSelected?.bill?.billNumber}}
          </h2>
          <ion-text slot="end">
            {{ saleSelected?.issueDate?.toDate() | date}}
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- ROW FOR SELLER INFO -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>
            <p>Vendedor</p>
            <ion-text>{{saleSelected?.sellerName}}</ion-text>
            <p>{{saleSelected?.bill?.sellerEmail}}</p>
          </ion-label>

          <ion-label class="ion-text-end">
            <p>Subtotal</p>
            <ion-text>
              {{saleSelected?.bill?.subtotal| currency: 'C$ '}}
            </ion-text>
          </ion-label>

          <ion-label class="ion-text-end">
            <p>Descuento</p>
            <ion-text>
              {{saleSelected?.bill?.discount| currency: 'C$ '}}
            </ion-text>
          </ion-label>
          <ion-label class="ion-text-end">
            <p>Total</p>
            <ion-text>
              {{saleSelected?.total | currency: 'C$ '}}
            </ion-text>
          </ion-label>

        </ion-item>
      </ion-col>
    </ion-row>

    <!-- ROW FOR DETAILS -->
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <ion-label>
            <p>Detalles</p>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let item of elementsToShow">
            <!-- <ion-avatar class="ion-margin-end">
              <img [src]="noProductPhoto" alt="foto">
            </ion-avatar> -->

            <ion-label>
              <p>Nombre</p>
              <ion-text>{{item.itemName || "Sin Nombre"}}</ion-text>
            </ion-label>
            <ion-label>
              <p>Código</p>
              <ion-text>{{item.itemCode}}</ion-text>
            </ion-label>
            <ion-label>
              <p>Precio unitario</p>
              <ion-text>{{item.itemPrice}}</ion-text>
            </ion-label>
            <ion-label>
              <p>Cantidad</p>
              <ion-text>{{item.itemQuantity}}</ion-text>
            </ion-label>
            <ion-label>
              <p>Total</p>
              <ion-text>{{item.itemAmount}}</ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">

          <ion-input type="number" slot="start" class="ion-text-center" label="Elementos por página"
            labelPlacement="floating" value="6" readonly />

          <!-- Actions -->
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="paginate('back')" [disabled]="currentPage < 2">
              <ion-icon name="chevron-back" />
              Anterior
            </ion-button>
            <ion-text>1 de {{pages}}</ion-text>
            <ion-button color="primary" (click)="paginate('next')" [disabled]="currentPage == pages">
              Siguiente
              <ion-icon name="chevron-forward" />
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
