.panel {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  width: 70vw;
  margin: 0px auto;
  margin-top: 20px;
  height: 755px;
  position: relative;
}

ion-list {
  overflow-y: scroll;
  height: 380px;
}
