<ion-grid>

  <ion-item lines="full">
    <ion-row>
      <ion-text>
        Añadir Existencias
      </ion-text>
    </ion-row>
  </ion-item>

  <!-- SEARCHBAR TOOLS -->
  <ion-row>
    <ion-toolbar>
      <ion-searchbar debounce="300" [formControl]="searchbarControl" (ionInput)="onSearch()" (ionClear)="onSearch()"
        placeholder="Buscar producto por código" />
    </ion-toolbar>
  </ion-row>

  <!-- PRODUCT DATA -->
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-divider>
          Detalles
        </ion-item-divider>
        <ion-item lines="full" *ngIf="productFound">
          <ion-label slot="start">
            <p>Producto</p>
            <ion-text>{{productFound.name || 'Sin Nombre'}}</ion-text>
          </ion-label>
          <ion-label slot="end">
            <p>Existencias</p>
            <ion-text>{{productFound.detail.stock || 0}}</ion-text>
          </ion-label>
        </ion-item>

        <ion-item lines="full" *ngIf="!productFound">
          <ion-icon></ion-icon>
          <ion-label class="ion-text-center">
            <ion-text>Nada para mostrar</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <!-- CONTROLS -->
  <ion-toolbar class="controls">
    <ion-input type="number" min="0" [formControl]="stockToAdd" labelPlacement="floating" label="Añadir" slot="start"
      placeholder="Cantidad a sumar" />

    <ion-input type="number" [formControl]="price" labelPlacement="floating" label="Precio" slot="start" />

    <ion-button slot="end" (click)="add()" [disabled]="stockToAdd.invalid">
      <ion-icon name="add" /> Añadir</ion-button>
    <ion-button slot="end" color="danger" (click)="close()">
      <ion-icon name="close" /> Cerrar</ion-button>
  </ion-toolbar>
</ion-grid>
