<div class="panel">
  <ion-grid>
    <ion-row>
      <ion-toolbar>
        <!-- GO BACK BUTTON -->
        <ion-buttons>
          <ion-button (click)="goBack()">
            <ion-icon name="chevron-back-outline" /> Volver
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="productCreationFormGroup" class="ion-margin">
          <div class="avatar">
            <ion-label class="center-label">Foto</ion-label>
            <ion-avatar (click)="openFileChooser(file)">
              <!-- Hover div for show interaction animated -->
              <div class="photo-selection">
                <ion-icon name="image" size="large" />
              </div>
              <!-- Avatar Picture -->
              <img [src]="picturePreview || noPhoto" alt="Foto del producto" />

              <!-- div for show feedback about picture is uploading yet and show message -->
              <div *ngIf="isLoadingPicture">
                <ion-label>Subiendo imagen...</ion-label>
                <ion-progress-bar type="indeterminate" />
              </div>

              <!-- Input hidden to show File Chooser -->
              <input
                #file
                formControlName="photoURL"
                type="file"
                accept="image/*"
                style="display: none"
                (change)="uploadImageToPreview($event)"
                [multiple]="false"
              />
            </ion-avatar>
          </div>

          <ion-input
            formControlName="name"
            label="Nombre del Producto"
            type="text"
            labelPlacement="floating"
            fill="outline"
          />
          <ion-input
            formControlName="code"
            label="Código"
            labelPlacement="floating"
            fill="outline"
          />
          <div formGroupName="detail">
            <ion-input
              formControlName="stock"
              label="Cantidad"
              type="number"
              labelPlacement="floating"
              fill="outline"
            />

            <ion-input
              formControlName="purchasePrice"
              label="Precio de compra"
              type="number"
              labelPlacement="floating"
              fill="outline"
              (ionChange)="onCalculateSalesPrice('cost')"
              />
              <ion-input
              formControlName="margin"
              label="Porcentaje de ganancia"
              type="number"
              max="100"
              min="0"
              labelPlacement="floating"
              fill="outline"
              (ionChange)="onCalculateSalesPrice('margin')"
              />
              <ion-input
              formControlName="salePrice"
              label="Precio de venta"
              type="number"
              labelPlacement="floating"
              fill="outline"
              (ionChange)="onCalculateSalesPrice('price')"
            />
          </div>
          <div formGroupName="metadata">
            <ion-input
              formControlName="size"
              label="Tamaño"
              type="number"
              labelPlacement="floating"
              fill="outline"
            />
            <ion-select
              formControlName="measurementUnit"
              label="Unidad de Medida"
              labelPlacement="floating"
              fill="outline"
            >
              <ion-select-option value="und">Unidades</ion-select-option>
              <ion-select-option value="ml">Mililitros</ion-select-option>
              <ion-select-option value="lt">Litros</ion-select-option>
              <ion-select-option value="lb">Libras</ion-select-option>
              <ion-select-option value="gr">Gramos</ion-select-option>
              <ion-select-option value="kg">Kilogramos</ion-select-option>
            </ion-select>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-toolbar>
        <!-- SAVE BUTTON -->
        <ion-buttons slot="end" class="ion-margin-end">
          <ion-button
            [disabled]="productCreationFormGroup.invalid"
            fill="solid"
            color="primary"
            (click)="createNewUser()"
            expand="block"
          >
            <ion-spinner *ngIf="isCheckingCreation" name="circular" />
            <ion-icon
              *ngIf="!isCheckingCreation"
              name="checkmark"
              slot="start"
            />
            <ion-label> Registrar Producto </ion-label></ion-button
          >
        </ion-buttons>

        <!-- DELETE USER BUTTON -->
        <ion-buttons slot="end">
          <ion-button
            [disabled]="productCreationFormGroup.pristine"
            fill="outline"
            color="primary"
            (click)="discardUser()"
          >
            <ion-icon name="close" />
            Descartar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
  </ion-grid>
</div>
