ion-toolbar {
  ion-avatar {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
}

ion-list {
  ion-item {
    cursor: pointer;
  }

  ion-item:hover {
    --background: #d4d4d4;
    --color: var(--ion-color-primary);

    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}
