<ion-menu [contentId]="contentId" [menuId]="contentId" #menu>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ menuTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header> {{ menuListItemHeader }}</ion-list-header>
      <ion-item
        *ngFor="let item of menuListItems"
        (click)="goToDirection(item.route, menu)"
      >
        <ion-icon slot="end" [name]="item.icon" />
        {{ item.title }}
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-button expand="block" (click)="goBack(menu)">
      <ion-icon
        slot="start"
        name="arrow-back-circle-outline"
      />Volver</ion-button
    >
  </ion-footer>
</ion-menu>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button color="primary" />
  </ion-buttons>
  <ion-title class="ion-text-center">
    <h1>{{ menubarTitle }}</h1>
  </ion-title>
  <ion-avatar class="ion-margin" slot="end" (click)="goToAccount()">
    <img [src]="currentUser?.photoURL || noPhoto" alt="Perfil" />
  </ion-avatar>
</ion-toolbar>
