<div class="panel">
  <ion-grid>
    <ion-row>
      <ion-toolbar>
        <!-- GO BACK BUTTON -->
        <ion-buttons>
          <ion-button (click)="goBack()">
            <ion-icon name="chevron-back-outline" /> Volver
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>

    <ion-item>
      <ion-toggle slot="end" [formControl]="withoutDetailMode">
        Permitir monto sin detalle
      </ion-toggle>
    </ion-item>

    <!-- FORM CONTAINER -->
    <ion-row>
      <ion-col>
        <form [formGroup]="saleCreationFormGroup" class="ion-margin">
          <div formGroupName="bill">
            <!-- BILL ITEMS FORM-->
            <ion-grid formArrayName="items">
              <ion-item-divider>
                <ion-label> Productos en factura</ion-label>
              </ion-item-divider>

              <!-- BILL ITEMS ROWS -->
              <ion-row
                *ngFor="
                  let item of saleCreationFormGroup.controls['bill'].controls[
                    'items'
                  ].controls;
                  let i = index
                "
                formGroupName="{{ i }}"
              >
                <ion-col class="ion-align-self-center" size="0.5"
                  >{{ i + 1 }} -</ion-col
                >
                <ion-col>
                  <ion-input
                    formControlName="itemCode"
                    class="full-input"
                    label="Código"
                    labelPlacement="floating"
                  ></ion-input>
                </ion-col>
                <ion-col>
                  <ion-input
                    formControlName="itemName"
                    class="full-input"
                    fill="clear"
                    label="Nombre del producto"
                    labelPlacement="floating"
                    [readonly]="true"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemPrice"
                    class="full-input"
                    type="number"
                    min="0"
                    fill="clear"
                    label="Precio"
                    labelPlacement="floating"
                    [readonly]="true"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemDiscount"
                    class="full-input"
                    type="number"
                    min="0"
                    fill="clear"
                    label="Descuento"
                    labelPlacement="floating"
                    [readonly]="true"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemQuantity"
                    class="full-input"
                    type="number"
                    min="1"
                    fill="clear"
                    label="Cantidad"
                    labelPlacement="floating"
                    [readonly]="true"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemAmount"
                    class="full-input"
                    type="number"
                    min="0"
                    fill="clear"
                    label="Total"
                    labelPlacement="floating"
                    [readonly]="true"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-button
                    size="large"
                    fill="clear"
                    (click)="removeBillItem(i)"
                  >
                    <ion-icon name="close-outline" color="danger" />
                  </ion-button>
                </ion-col>
              </ion-row>

              <!-- BILL ITEMS CREATOR -->
              <ion-row
                class="ion-align-items-center"
                [formGroup]="helperFormGroup"
              >
                <ion-col>
                  <ion-input
                    formControlName="itemCode"
                    class="full-input"
                    type="text"
                    fill="outline"
                    label="Código"
                    labelPlacement="floating"
                  ></ion-input>
                </ion-col>
                <ion-col>
                  <ion-input
                    formControlName="itemName"
                    class="full-input"
                    fill="outline"
                    label="Nombre del producto"
                    labelPlacement="floating"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemPrice"
                    class="full-input"
                    type="number"
                    min="0"
                    fill="outline"
                    label="Precio"
                    labelPlacement="floating"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemDiscount"
                    class="full-input"
                    type="number"
                    min="0"
                    fill="outline"
                    label="Descuento"
                    labelPlacement="floating"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemQuantity"
                    class="full-input"
                    type="number"
                    min="1"
                    fill="outline"
                    label="Cantidad"
                    labelPlacement="floating"
                  ></ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input
                    formControlName="itemAmount"
                    class="full-input"
                    type="number"
                    min="0"
                    fill="outline"
                    label="Total"
                    labelPlacement="floating"
                    [readonly]="true"
                  ></ion-input>
                </ion-col>
                <ion-col size="1" class="ion-justify-self-center">
                  <ion-button
                    fill="clear"
                    size="large"
                    (click)="addBillItem()"
                    [disabled]="helperFormGroup.invalid"
                  >
                    <ion-icon name="add" />
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- BILL INFORMATION -->
            <ion-item-divider>
              <ion-label> Información de Facturación</ion-label>
            </ion-item-divider>
            <!-- <ion-input
              formControlName="billNumber"
              label="Número de factura"
              type="text"
              labelPlacement="floating"
              fill="outline"
              [errorText]="validateInputErrors('phoneNumber')"
            /> -->
            <ion-input
              formControlName="subtotal"
              label="Subtotal"
              type="number"
              labelPlacement="floating"
              fill="outline"
              [readonly]="true"
              [errorText]="validateInputErrors('address')"
            />

            <ion-input
              formControlName="discount"
              label="Descuento sobre factura"
              type="number"
              labelPlacement="floating"
              fill="outline"
            />

            <ion-input
              formControlName="total"
              label="Total en Factura"
              type="number"
              labelPlacement="floating"
              fill="outline"
              [readonly]="true"
            />
          </div>

          <!-- GENERAL SALE INFO -->
          <ion-item-divider>
            <ion-label>Información de venta</ion-label>
          </ion-item-divider>
          <ion-input
            formControlName="total"
            label="Monto total de venta"
            labelPlacement="floating"
            type="number"
            fill="outline"
            [readonly]="!withoutDetailMode.value"
            [errorText]="validateInputErrors('lastNames')"
          />
          <ion-item fill="outline">
            <ion-label slot="start"> Fecha de la venta </ion-label>
            <ion-datetime-button
              datetime="datetime"
              slot="end"
            ></ion-datetime-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>

    <!-- FORM BUTTONS CONTROLS -->
    <ion-row>
      <ion-toolbar>
        <!-- SAVE BUTTON -->
        <ion-buttons slot="end" class="ion-margin-end">
          <ion-button
            [disabled]="saleCreationFormGroup.invalid"
            fill="solid"
            color="primary"
            (click)="createNewSale()"
            expand="block"
          >
            <ion-spinner *ngIf="isCheckingCreation" name="circular" />
            <ion-icon
              *ngIf="!isCheckingCreation"
              name="checkmark"
              slot="start"
            />
            <ion-label> Registrar Venta </ion-label></ion-button
          >
        </ion-buttons>

        <!-- DELETE USER BUTTON -->
        <ion-buttons slot="end" class="ion-margin-end">
          <ion-button
            [disabled]="saleCreationFormGroup.pristine"
            fill="outline"
            color="primary"
            (click)="discardSale()"
          >
            <ion-icon name="close" />
            Descartar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
  </ion-grid>
</div>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
