<div class="panel">

  <ion-grid id="header-grid"> <!-- ROW FOR HEADER TOOLBAR -->
    <ion-row>
      <ion-toolbar>
        <ion-icon slot="start" name="pricetag" size="large" />
        <ion-title> Gestión de Productos </ion-title>
      </ion-toolbar>
    </ion-row>

    <!-- ROW FOR TOOLS -->
    <ion-row>
      <ion-toolbar>
        <ion-searchbar [formControl]="searchbarControl" placeholder="Buscar producto por código..." debounce="300"
          (ionInput)="findProductByCriteria()" (ionClear)="readProductsByPagination('', 'asc')" />

        <ion-buttons slot="end">
          <ion-button fill="solid" color="primary" expand="block" (click)="goToCreationProductView()"
            title="Registrar un nuevo producto que no existe">
            <ion-icon name="add" />
            Nuevo Producto
          </ion-button>

          <ion-button fill="solid" color="secondary" expand="block" (click)="onAddStock()"
            title="Agregar existencias a un producto existente">
            <ion-icon name="add" />
            Añadir Existencias
          </ion-button>

          <ion-button color="tertiary" fill="solid" (click)="onUploadFile()">
            <ion-icon class="ion-margin-end" name="document-attach"></ion-icon>
            Añadir desde archivo
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-row>
  </ion-grid>

  <ion-grid id="products-grid">

    <!-- ROWS FOR USERS LIST -->
    <ion-row class="ion-justify-content-between ion-align-items-center ion-activatable ripple-parent selectable"
      *ngFor="let product of products" (click)="viewProductDetail(product.id)">
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
      <!-- Avatar -->
      <ion-col class="ion-justify-self-start" size="1" sizeXs="2" sizeSm="2" sizeMd="1">
        <ion-avatar><img [src]="product.photoURL || noPhoto" alt="Foto de perfil" /></ion-avatar>
      </ion-col>
      <!-- Names -->
      <ion-col size="3">
        <h5 class="ion.text-start">Nombres</h5>
        <h6 class="ion.text-start" title="Brandon Isaac Fonseca">
          {{ product.name }}
        </h6>
      </ion-col>

      <!-- Names -->
      <ion-col size="3">
        <h5 class="ion.text-start">Código</h5>
        <h6 class="ion.text-start">{{ product.code }}</h6>
      </ion-col>

      <!-- Teléfono -->
      <ion-col size="2" class="action-sustitute">
        <h5 class="ion.text-start">Existencias</h5>
        <h6 class="ion.text-start">
          {{ product.detail.stock || "Sin Stock" }}
        </h6>
      </ion-col>
      <ion-buttons>
        <ion-button fill="clear" color="primary">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>

  </ion-grid>

  <!-- PAGINATION -->
  <ion-toolbar class="footer">

    <div slot="start">
      <ion-input [formControl]="elementsPerPage" debounce="500" label="Elementos por página" labelPlacement="stacked"
        type="number" [max]="20" class="ion-text-center" readonly />
    </div>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="paginate('back')" [disabled]="currentPage <=1 ">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Anterior
      </ion-button>
    </ion-buttons>

    <ion-label slot="end">
      {{currentPage}} de {{totalPages}}
    </ion-label>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="paginate('next')" [disabled]="currentPage >= totalPages">
        Siguiente
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>
