.panel {
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  width: 90vw;
  margin: 0px auto;
  margin-top: 20px;
  height: 88vh;
  position: relative;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}

.p-bottom {
  bottom: 0px;
}

.absolute {
  position: absolute;
  z-index: 1000;
}

.suggestion-list {
  width: 99.5%;
  max-height: 200px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}

.container-grid {
  height: 80vh;
  width: 85vw;

  .content-row {
    height: 90%;
  }

  .summary-row {
    height: 10%;
    background-color: #303030;
  }

  .shadowed {
    height: 100%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  }
  .product-list {
    height: 90%;
    width: 100%;
    margin-top: 20px;
  }
}

.summary-container {
  height: 4%;
}

ion-title {
  font-size: 16px;
}

small {
  font-weight: 700;
}

h6 {
  color: #303030;
}
