<div class="panel">
  <ion-grid class="container-grid">
    <ion-row
      class="ion-justify-content-between ion-align-items-cente content-row ion-margin-top"
    >
      <!-- FIRST COLUMN -->
      <ion-col size="7.5" sizeXs="12" sizeXl="7.5" class="relative">
        <ion-searchbar
          id="searching-products"
          [formControl]="searchBarControl"
          (ionInput)="onType()"
          (keyup)="addProductByKey($event)"
        />

        <!-- POPOVER TO SHOW PRODUCTS FOUNDS -->
        <ion-list class="absolute suggestion-list" *ngIf="popoverIsVisible">
          <ion-item-divider>
            Resultados para "{{ searchBarControl.value }}"
          </ion-item-divider>

          <!-- PRODUCTS FOUNDS -->
          <ion-item
            [button]="true"
            (click)="addProductByTap(product)"
            *ngFor="let product of productsFound"
            lines="full"
            [color]="product.detail.stock < 1 ? 'danger' : ''"
          >
            <ion-avatar slot="start">
              <img [src]="product.photoURL" alt="Product Picture" />
            </ion-avatar>
            <ion-label slot="start">
              <p>Producto</p>
              <ion-text>{{ product.name }}</ion-text>
            </ion-label>
            <ion-label slot="end" class="ion-text-end">
              <p>Existencias</p>
              <ion-text>
                {{ product.detail.stock || "Sin stock" }}
              </ion-text>
            </ion-label>
          </ion-item>

          <!-- ITEM TO SHOW IF NOT FOUND ANY PRODUCTS -->
          <ion-item *ngIf="productsFound.length < 1">
            <ion-icon name="search" />
            <ion-note class="ion-margin">
              No se encontraron elementos, porfavor revise el texto ingresado y
              vuelve a intentar
            </ion-note>
          </ion-item>
        </ion-list>

        <!-- PRODUCT LIST -->
        <ion-grid class="shadowed product-list">
          <ion-content>
            <ion-item *ngFor="let product of products; let i = index">
              <ion-row class="full-width ion-align-items-center">
                <ion-col>
                  <ion-avatar>
                    <img [src]="product.photoURL" alt="Foto del producto" />
                  </ion-avatar>
                </ion-col>
                <ion-col size="3">
                  <small>Producto</small>
                  <h6>{{ product.name }}</h6>
                </ion-col>
                <ion-col>
                  <small>Código</small>
                  <h6>{{ product.code }}</h6>
                </ion-col>
                <ion-col>
                  <small>Precio</small>
                  <h6>{{ product.detail.salePrice }}</h6>
                </ion-col>
                <ion-col>
                  <small>Cantidad</small>
                  <ion-input
                    [value]="product.quantity"
                    type="number"
                    min="1"
                    [max]="product.detail.stock"
                    (ionChange)="onChangeQuantity(i, $event)"
                  />
                </ion-col>
                <ion-col>
                  <small>Total</small>
                  <h6>{{ product.totalValue }}</h6>
                </ion-col>
                <ion-col size="1">
                  <ion-button
                    fill="clear"
                    size="large"
                    (click)="removeProduct(i)"
                  >
                    <ion-icon name="close-outline" color="danger" />
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item *ngIf="products.length < 1" lines="none">
              <ion-label class="ion-text-center">
                <p>Aun no ha agregado productos a la factura...</p>
              </ion-label>
            </ion-item>
          </ion-content>
        </ion-grid>
      </ion-col>

      <!-- SECOND COLUMN -->
      <ion-col size="4" class="shadowed ion-hide-xl-down">
        <ion-content>
          <ion-title class="ion-text-center">Resumen de venta</ion-title>
          <br />
          <ion-list [formGroup]="billFormGroup">
            <!-- DATE -->
            <ion-item-group>
              <ion-item-divider> Fecha </ion-item-divider>

              <ion-item lines="full" class="ion-align-items-center">
                <ion-text slot="end">{{ today() }}</ion-text>
                <ion-icon name="calendar" slot="start" />
              </ion-item>
            </ion-item-group>

            <!-- SELLER INFO -->
            <ion-item-group class="ion-margin-top">
              <ion-item-divider> Información del vendedor </ion-item-divider>

              <ion-item lines="full" class="ion-align-items-center">
                <ion-label slot="end" class="ion-text-end">
                  <ion-text>{{ currentUser?.displayName }}</ion-text>
                  <p>{{ currentUser?.email }}</p>
                </ion-label>
                <ion-icon name="person-circle" slot="start" />
              </ion-item>
            </ion-item-group>

            <!-- ACCOUNTING DATA -->
            <ion-item-group class="ion-margin-top ion-margin-bottom">
              <ion-item-divider> Detalles Contables </ion-item-divider>

              <ion-item lines="full">
                <ion-text slot="start">Subtotal</ion-text>
                <ion-input
                  type="number"
                  formControlName="subtotal"
                  class="ion-text-end"
                  readonly="true"
                  slot="end"
                />
              </ion-item>

              <ion-item lines="full">
                <ion-text slot="start">Descuento</ion-text>
                <ion-input
                  type="number"
                  formControlName="discount"
                  class="ion-text-end"
                  min="0"
                  [max]="billFormGroup.get('subtotal')?.value || 0"
                  size="small"
                  slot="end"
                  (change)="onDiscount()"
                />
              </ion-item>

              <ion-item lines="full">
                <ion-input
                  label="Total"
                  type="number"
                  formControlName="total"
                  class="ion-text-end"
                  readonly="true"
                />
              </ion-item>
            </ion-item-group>
          </ion-list>
          <ion-checkbox
            labelPlacement="end"
            [checked]="false"
            disabled
            class="ion-margin-bottom"
          >
            <ion-label> Imprimir recibo </ion-label>
          </ion-checkbox>
          <ion-footer collapse="fade" class="ion-no-border ion-margin-top">
            <ion-button
              color="danger"
              fill="clear"
              expand="block"
              (click)="onDiscard()"
              [disabled]="isCheckingOut || products.length < 1"
            >
              DESCARTAR
              <ion-icon name="close" slot="start" />
            </ion-button>
            <ion-button
              class="ion-margin-bottom"
              slot="end"
              fill="solid"
              color="primary"
              expand="block"
              size="large"
              (click)="onCheckout()"
              [disabled]="isCheckingOut || products.length < 1"
              >
              <ion-spinner *ngIf="isCheckingOut" name="circular" />
              <ion-icon *ngIf="!isCheckingOut" name="checkmark" slot="start"/>
              FACTURAR
            </ion-button>
          </ion-footer>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- SUMMARY HIDDEN ROW -->
  <ion-item class="ion-hide-xl-up" lines="full">
    <ion-grid [formGroup]="billFormGroup">
      <ion-row>
        <ion-col>
          <ion-input
            type="number"
            label="Subtotal"
            labelPlacement="stacked"
            formControlName="subtotal"
            class="ion-text-start"
            readonly="true"
        /></ion-col>
        <ion-col size="1.5">
          <ion-input
            type="number"
            label="Descuento"
            labelPlacement="stacked"
            formControlName="discount"
            class="ion-text-start"
            min="0"
            [max]="billFormGroup.get('subtotal')?.value || 0"
            (change)="onDiscount()"
          />
        </ion-col>
        <ion-col>
          <ion-input
            type="number"
            label="Total"
            labelPlacement="stacked"
            formControlName="total"
            class="ion-text-start"
            readonly="true"
          />
        </ion-col>
        <!-- <ion-col>
          <ion-label id="payment-picker">
            <p>Pago</p>
            <ion-text>Efectivo</ion-text>
          </ion-label>
        </ion-col> -->
        <ion-col class="ion-justify-content-end">
          <ion-buttons>
            <ion-button
              color="primary"
              (click)="onCheckout()"
              size="large"
              fill="solid"
              [disabled]="isCheckingOut || products.length < 1"
              >
              <ion-spinner *ngIf="isCheckingOut" name="circular" />
              FACTURAR</ion-button
            >
            <ion-button
             [disabled]="isCheckingOut || products.length < 1"
             color="danger"
             (click)="onDiscard()"
              >Descartar</ion-button
            >
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>

<!-- <ion-picker
  trigger="payment-picker"
  [columns]="pickerColumns"
  [buttons]="pickerButtons"
/> -->
