.panel {
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  width: 90vw;
  margin: 0px auto;
  margin-top: 20px;
  height: 85vh;
  position: relative;
}

.delete-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.center-label {
  display: block;
  width: auto;
  text-align: center;
}

.photo-selection {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ion-color-primary);
  position: absolute;
  border-radius: 50%;
}

.photo-edition:hover {
  opacity: 0.7;
  transition: 200ms ease-in;
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;

  .avatar {
    width: 100%;
  }

  ion-avatar {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
    border: solid 1px #b3b3b3;
    margin-top: 10px;
  }

  ion-input {
    display: inline-block;
    margin-block: 16px;
    width: 48%;
    margin-inline: 1%;
  }

  div {
    width: 100%;
  }

  ion-select {
    display: inline-block;
    margin-inline: 1%;
    margin-block: 16px;
    width: 48%;
  }
}
