<div class="panel">
  <ion-grid>
    <ion-row>
      <ion-toolbar>
        <!-- GO BACK BUTTON -->
        <ion-buttons>
          <ion-button (click)="goBack()">
            <ion-icon name="chevron-back-outline" /> Volver
          </ion-button>
        </ion-buttons>

        <!-- SAVE CHANGES BUTTON -->
        <ion-buttons slot="end" *ngIf="
            !disableEdition && productFormGroup.dirty && productFormGroup.valid
          ">
          <ion-button fill="solid" color="primary" (click)="updateUserDetail()">
            <ion-icon name="checkmark" slot="start" />
            Salvar cambios</ion-button>
        </ion-buttons>

        <!-- ENABLE EDITION BUTTON -->
        <ion-toggle slot="end" label-placement="start" [enableOnOffLabels]="true" class="ion-padding"
          [value]="disableEdition" (click)="toggleEdition()">
          Habilitar edición
        </ion-toggle>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="productFormGroup" class="ion-margin">
          <div class="avatar">
            <ion-label class="center-label">Foto</ion-label>
            <ion-avatar (click)="openFileChooser(file)">
              <!-- Hover div for show interaction animated -->
              <div class="photo-selection">
                <ion-icon name="image" size="large" />
              </div>
              <!-- Avatar Picture -->
              <img [src]="picturePreview || noPhoto" alt="Foto del producto" />

              <!-- div for show feedback about picture is uploading yet and show message -->
              <div *ngIf="isLoadingPicture">
                <ion-label>Subiendo imagen...</ion-label>
                <ion-progress-bar type="indeterminate" />
              </div>

              <!-- Input hidden to show File Chooser -->
              <input #file formControlName="photoURL" type="file" accept="image/*" style="display: none"
                (change)="uploadImageToPreview($event)" [multiple]="false" />
            </ion-avatar>
          </div>

          <ion-input formControlName="name" label="Nombre del Producto" type="text" labelPlacement="floating"
            fill="outline" [readonly]="disableEdition"/>
          <ion-input formControlName="code" label="Código" labelPlacement="floating" fill="outline" [readonly]="disableEdition"/>
          <div formGroupName="detail">
            <ion-input formControlName="stock" label="Cantidad" type="number" labelPlacement="floating"
              fill="outline" [readonly]="disableEdition"/>

            <ion-input formControlName="purchasePrice" label="Precio de compra" type="decimal" labelPlacement="floating"
              fill="outline" [readonly]="disableEdition"/>
            <ion-input formControlName="margin" label="Margen de ganancia" type="decimal" max="100" min="0"
              labelPlacement="floating" fill="outline" [readonly]="disableEdition"/>
            <ion-input formControlName="salePrice" label="Precio de venta" type="address" labelPlacement="floating"
              fill="outline" [readonly]="disableEdition"/>
          </div>
          <div formGroupName="metadata">
            <ion-input formControlName="size" label="Tamaño" type="number" labelPlacement="floating" fill="outline"
               [readonly]="disableEdition"/>

            <ion-select formControlName="measurementUnit" label="Unidad de Medida" labelPlacement="floating"
              fill="outline" [disabled]="disableEdition">
              <ion-select-option value="und" [disabled]="disableEdition">Unidades</ion-select-option>
              <ion-select-option value="ml" [disabled]="disableEdition">Mililitros</ion-select-option>
              <ion-select-option value="lt" [disabled]="disableEdition">Litros</ion-select-option>
              <ion-select-option value="lb" [disabled]="disableEdition">Libras</ion-select-option>
              <ion-select-option value="gr" [disabled]="disableEdition">Gramos</ion-select-option>
              <ion-select-option value="kg" [disabled]="disableEdition">Kilogramos</ion-select-option>
            </ion-select>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- DELETE USER BUTTON -->
  <ion-buttons class="delete-button" slot="end">
    <ion-button fill="solid" color="danger" (click)="deleteProduct()">
      <ion-icon name="trash" />
      Eliminar Producto
    </ion-button>
  </ion-buttons>
</div>
