<ion-grid>
  <ion-row>

    <!-- FIRST COLUMN -->
    <ion-col size="9">
      <div class="panel">
        <ion-grid>
          <!-- ROW FOR HEADER TOOLBAR AND BUTTONS -->
          <ion-row>
            <ion-toolbar>
              <ion-icon slot="start" name="storefront" size="large" />
              <ion-title> Gestión de Ventas</ion-title>
            </ion-toolbar>
          </ion-row>

          <ion-row>
            <ion-toolbar>
              <ion-select [formControl]="filterDateControl" (ionChange)="onFilterDateChange()"
                label="Seleccionar periodo" labelPlacement="floating" slot="start">
                <ion-select-option value="today">Ventas del día</ion-select-option>
                <ion-select-option value="week">Esta semana</ion-select-option>
                <ion-select-option value="month">Este mes</ion-select-option>
                <ion-select-option value="always">Todo</ion-select-option>
              </ion-select>

              <ion-buttons slot="end">
                <ion-button fill="solid" color="primary" expand="block" (click)="goToCreationProductView()">
                  <ion-icon name="add" />
                  Registrar una venta
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-row>

          <!-- ROWS FOR SALE LIST -->
          <div class="sales-list">
            <ion-content>

              <ion-row *ngIf="isLoading" >
                <ion-col>
                  <div class="spinner-container">
                    <ion-spinner name="dots"/>
                    <ion-label>
                      <p>Cargando ventas...</p>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="sales.length < 1 && !isLoading">
                <ion-col>
                  <ion-item>
                    <ion-label>
                      <p>
                        No hay ventas para este periodo
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row
                class="ion-justify-content-between ion-align-items-center ion-activatable ripple-parent selectable"
                *ngFor="let sale of sales" (click)="viewProductDetail(sale.id)">
                <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
                <!-- DATE -->
                <ion-col size="3">
                  <h5 class="ion.text-start">Fecha de la venta</h5>
                  <h6 class="ion.text-start"
                    [title]="sale.issueDate.toDate().toLocaleDateString('es-ES', {dateStyle: 'full'}) || 'Sin Fecha'">
                    {{ sale.issueDate.toDate().toLocaleDateString('es-ES', {dateStyle: 'long'}) || 'Sin fecha'}}
                  </h6>
                </ion-col>

                <!-- SELLER -->
                <ion-col size="3">
                  <h5 class="ion.text-start">Vendida por</h5>
                  <h6 class="ion.text-start">{{ sale.sellerName }}</h6>
                </ion-col>

                <!-- TOTAL AMOUNT -->
                <ion-col size="2" class="action-sustitute">
                  <h5 class="ion.text-start">Monto Total</h5>
                  <h6 class="ion.text-start">
                    {{ sale.total | currency: 'C$ '}}
                  </h6>
                </ion-col>

                <!-- BILL -->
                <ion-col size="2" class="action-sustitute">
                  <h5 class="ion.text-start">Factura asociada</h5>
                  <h6 class="ion.text-start">
                    {{ sale.bill.billNumber || "Sin Factura" }}
                  </h6>
                </ion-col>
                <ion-buttons>
                  <ion-button fill="clear" color="primary">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-row>
            </ion-content>
          </div>

          <!-- ROW FOR PAGINATION -->
          <ion-row class="pagination">
            <ion-col>
              <ion-item lines="none">
                <ion-input class="ion-text-center" slot="start" label="Elementos por página" labelPlacement="floating"
                  value="6" />

                <ion-buttons slot="end">
                  <ion-button color="primary">
                    <ion-icon name="chevron-back" />
                    Anterior
                  </ion-button>

                  <ion-label>
                    <ion-text>1 de 1</ion-text>
                  </ion-label>

                  <ion-button color="primary">
                    Siguiente
                    <ion-icon name="chevron-forward" />
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-col>

    <!-- SECOND COLUMN  -->
    <ion-col size="3">
      <div class="summary">
        <ion-item lines="full">
          <ion-text>
            Resumen para el vendedor
          </ion-text>
        </ion-item>

        <ion-list>

          <ion-item-group class="ion-margin-top">
            <ion-item-divider>Información</ion-item-divider>
            <ion-item lines="full">
              <ion-icon name="calendar" slot="start" />
              <ion-label slot="end" class="ion-text-end">
                <ion-text>
                  <strong>{{today()}}</strong>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-item-group>

          <ion-item-group class="ion-margin-top">
            <ion-item-divider>Información general</ion-item-divider>
            <ion-item class="ion-margin-top" lines="full">
              <ion-icon name="logo-usd" size="large" slot="start" />
              <ion-label slot="start">
                <ion-text>Ventas del mes</ion-text>
              </ion-label>
              <ion-label slot="end">
                <ion-text color="primary">
                  <strong>{{salesSummary.monthSales | currency: "C$ "}}</strong>
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item class="ion-margin-top" lines="full">
              <ion-icon name="storefront" size="large" slot="start" />
              <ion-label slot="start">
                <ion-text>Ventas del día</ion-text>
              </ion-label>
              <ion-label slot="end">
                <ion-text color="primary">
                  <strong>{{salesSummary.todaySales| currency: "C$ "}}</strong>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-item-group>

          <ion-item-group class="ion-margin-top" *ngIf="currentUser">
            <ion-item-divider>
              Usuario actual
            </ion-item-divider>
            <ion-item lines="full">
              <ion-icon name="person-circle" slot="start" size="large" />
              <ion-label slot="start">
                <ion-text>{{currentUser.displayName }}</ion-text>
                <p>{{currentUser.email}}</p>
              </ion-label>
              <ion-label color="primary" slot="end">
                <strong>
                  {{ salesSummary.userSales | currency: 'C$ '}}
                </strong>
              </ion-label>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
