.panel {
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  width: 95%;
  // margin: 0px auto;
  margin-top: 20px;
  height: 80vh;
}

.dflex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-ripple {
  color: var(--ion-color-primary);
}

.summary {
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  background-color: var(--ion-background-color);
  width: 100%;
  height: 80vh;
  margin-top: 20px;
}

.selectable {
  cursor: pointer;
}

.sales-list{
  height: 55vh;
}

.pagination {
  height: 8vh;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ion-grid {
  width: 95%;
  ion-row {
    border-bottom: solid 1px #d4d4d4;
    margin: 0px auto;
    position: relative;
  }
}

ion-spinner{
  margin-inline: auto;
}

ion-avatar {
  height: 50px;
  width: 50px;
}

h5 {
  font-size: small;
  font-weight: 700;
}

h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h5,
h6 {
  margin-block: 5px;
  color: #303030;
}
