<c-menubar contentId="reporting-content" menuListItemHeader="Opciones" [menubarTitle]="'Reportería'" />

<ion-content [fullscreen]="true" id="reporting-content">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="6" sizeSm="12" sizeLg="6">
        <div class="chart-container h-chart-300">
          <canvas id="chart"></canvas>
          <div class="data">
            <ion-list>
              <ion-item-divider>
                Montos
                <ion-select slot="end" value="today">
                  <ion-select-option value="today">Hoy</ion-select-option>
                  <ion-select-option value="yesterday">Ayer</ion-select-option>
                  <ion-select-option value="date">Seleccionar fecha</ion-select-option>
                </ion-select>
              </ion-item-divider>

              <ion-item lines="none">
                <ion-label>
                  <p>12:00 AM - 12:59 PM</p>
                  <ion-icon name="ellipse" color="secondary" />
                  <strong>
                    {{chartValues.doughnutValues.morning | currency: "C$ "}}
                  </strong>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <p>1:00 PM - 6:59 PM</p>
                  <ion-icon name="ellipse" color="tertiary" />
                  <strong>
                    {{chartValues.doughnutValues.afternoon| currency: "C$ "}}
                  </strong>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <p>7:00 PM - 11:59 PM</p>
                  <ion-icon name="ellipse" color="primary" />
                  <strong>
                    {{chartValues.doughnutValues.night | currency: "C$ "}}
                  </strong>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>

      <ion-col size="6" sizeSm="12" sizeLg="6">
        <div class="chart-container h-chart-300">
          <canvas id="bar-chart"></canvas>
          <div class="data">
            <ion-list>
              <ion-item-divider>
                Resumen de ventas
              </ion-item-divider>

              <ion-item lines="none">
                <ion-label>
                  <ion-icon name="ellipse" color="primary" />
                  <ion-text>
                    {{this.chartValues.barValues[0].qty}} Unds
                  </ion-text>
                </ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-label>
                  <ion-icon name="ellipse" color="secondary" />
                  <ion-text>
                    {{this.chartValues.barValues[1].qty }} Unds
                  </ion-text>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-icon name="ellipse" color="tertiary" />
                  <ion-text>
                    {{this.chartValues.barValues[2].qty}} Unds
                  </ion-text>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-icon name="ellipse" color="dark" />
                  <ion-text>
                    {{this.chartValues.barValues[3].qty}} Unds
                  </ion-text>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-icon name="ellipse" color="medium" />
                  <ion-text>
                    {{this.chartValues.barValues[4].qty}} Unds
                  </ion-text>
                </ion-label>
              </ion-item>

            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <div class="chart-container h-chart-50">
          <canvas id="line-chart"></canvas>

          <div class="data">
            <ion-list>
              <ion-item-divider>
                Resumen Anual
              </ion-item-divider>

              <ion-item lines="none">
                <ion-label>
                  <ion-icon name="ellipse" color="primary" />
                  <strong>
                    {{ getTotalYearSales() | currency: "C$ "}}
                  </strong>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
