.data {
  width: 300px;
}

.chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--ion-background-color);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.h-chart-300 {
  height: 300px;
}

.h-chart-50 {
  height: 50vh;
}
