<div class="panel">
  <ion-grid>
    <ion-row>
      <ion-toolbar>
        <!-- GO BACK BUTTON -->
        <ion-buttons>
          <ion-button (click)="goBack()">
            <ion-icon name="chevron-back-outline" /> Volver
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="userCreationFormGroup" class="ion-margin">
          <div class="avatar">
            <ion-label class="center-label">Foto</ion-label>
            <ion-avatar (click)="openFileChooser(file)">
              <!-- Hover div for show interaction animated -->
              <div class="photo-selection">
                <ion-icon name="image" size="large" />
              </div>
              <!-- Avatar Picture -->
              <img [src]="picturePreview || noPhoto" alt="Foto de perfil" />

              <!-- div for show feedback about picture is uploading yet and show message -->
              <div *ngIf="isLoadingPicture">
                <ion-label>Subiendo imagen...</ion-label>
                <ion-progress-bar type="indeterminate" />
              </div>

              <!-- Input hidden to show File Chooser -->
              <input
                #file
                formControlName="photoURL"
                type="file"
                accept="image/*"
                style="display: none"
                (change)="uploadImageToPreview($event)"
                [multiple]="false"
              />
            </ion-avatar>
          </div>

          <ion-input
            formControlName="names"
            label="Nombres"
            type="text"
            labelPlacement="floating"
            fill="outline"
            [errorText]="validateInputErrors('names')"
          />
          <ion-input
            formControlName="lastNames"
            label="Apellidos"
            labelPlacement="floating"
            fill="outline"
            [errorText]="validateInputErrors('lastNames')"
          />
          <ion-input
            formControlName="email"
            label="E-mail"
            type="email"
            labelPlacement="floating"
            fill="outline"
            [errorText]="validateInputErrors('email')"
          />
          <ion-input
            formControlName="password"
            label="Contraseña"
            type="text"
            labelPlacement="floating"
            fill="outline"
            [errorText]="validateInputErrors('password')"
          />
          <ion-input
            formControlName="identification"
            label="Identificación"
            type="text"
            labelPlacement="floating"
            fill="outline"
            [errorText]="validateInputErrors('identification')"
          />
          <ion-input
            formControlName="phoneNumber"
            label="Teléfono (Sin Código)"
            type="tel"
            maxlength="8"
            labelPlacement="floating"
            fill="outline"
            [errorText]="validateInputErrors('phoneNumber')"
          />
          <ion-select
            formControlName="roles"
            label="Roles"
            labelPlacement="floating"
            fill="outline"
            multiple
          >
            <ion-select-option value="seller"
              >Vendedor</ion-select-option
            >
            <ion-select-option value="admin">Administrador</ion-select-option>
          </ion-select>
          <ion-input
            formControlName="address"
            label="Dirección Domicilio"
            type="address"
            labelPlacement="floating"
            fill="outline"
            [errorText]="validateInputErrors('address')"
          />
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-toolbar>
        <!-- SAVE BUTTON -->
        <ion-buttons slot="end" class="ion-margin-end">
          <ion-button
            [disabled]="userCreationFormGroup.invalid"
            fill="solid"
            color="primary"
            (click)="createNewUser()"
            expand="block"
          >
            <ion-spinner *ngIf="isCheckingCreation" name="circular" />
            <ion-icon
              *ngIf="!isCheckingCreation"
              name="checkmark"
              slot="start"
            />
            <ion-label> Registrar usuario </ion-label></ion-button
          >
        </ion-buttons>

        <!-- DELETE USER BUTTON -->
        <ion-buttons slot="end">
          <ion-button
            [disabled]="userCreationFormGroup.pristine"
            fill="outline"
            color="primary"
            (click)="discardUser()"
          >
            <ion-icon name="close" />
            Descartar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
  </ion-grid>
</div>
