<div class="panel">
  <ion-grid>
    <ion-row>
      <ion-toolbar>
        <!-- GO BACK BUTTON -->
        <ion-buttons>
          <ion-button (click)="goBack()">
            <ion-icon name="chevron-back-outline" /> Volver
          </ion-button>
        </ion-buttons>

        <!-- SAVE CHANGES BUTTON -->
        <ion-buttons
          slot="end"
          *ngIf="
            !disableEdition &&
            userDetailFormGroup.dirty &&
            userDetailFormGroup.valid
          "
        >
          <ion-button fill="solid" color="primary" (click)="updateUserDetail()">
            <ion-icon name="checkmark" slot="start" />
            Salvar cambios</ion-button
          >
        </ion-buttons>

        <!-- ENABLE EDITION BUTTON -->
        <ion-toggle
          slot="end"
          label-placement="start"
          [enableOnOffLabels]="true"
          class="ion-padding"
          [value]="disableEdition"
          (click)="toggleEdition()"
        >
          Habilitar edición
        </ion-toggle>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="userDetailFormGroup" class="ion-margin">
          <div class="avatar">
            <ion-label class="center-label">Foto</ion-label>
            <ion-avatar (click)="openFileChooser(file)">
              <!-- Hover div for show interaction animated -->
              <div
                class="photo-selection"
                [class.photo-edition]="!disableEdition"
              >
                <ion-icon name="image" size="large" />
              </div>
              <!-- Avatar Picture -->
              <img [src]="picturePreview || noPhoto" alt="Foto de perfil" />

              <!-- div for show feedback about picture is uploading yet and show message -->
              <div *ngIf="isLoadingPicture">
                <ion-label>Subiendo imagen...</ion-label>
                <ion-progress-bar type="indeterminate" />
              </div>

              <!-- Input hidden to show File Chooser -->
              <input
                #file
                formControlName="photoURL"
                type="file"
                accept="image/*"
                style="display: none"
                (change)="uploadImageToPreview($event)"
                [multiple]="false"
              />
            </ion-avatar>
          </div>

          <ion-input
            formControlName="names"
            label="Nombres"
            labelPlacement="floating"
            fill="outline"
            [readonly]="disableEdition"
            [errorText]="validateInputErrors('names')"
          />
          <ion-input
            formControlName="lastNames"
            label="Apellidos"
            labelPlacement="floating"
            fill="outline"
            [readonly]="disableEdition"
            [errorText]="validateInputErrors('lastNames')"
          />
          <ion-input
            formControlName="email"
            label="E-mail"
            labelPlacement="floating"
            fill="outline"
            [readonly]="disableEdition"
            [errorText]="validateInputErrors('email')"
          />
          <ion-input
            formControlName="phoneNumber"
            label="Teléfono"
            labelPlacement="floating"
            fill="outline"
            [readonly]="disableEdition"
            [errorText]="validateInputErrors('phoneNumber')"
          />
          <ion-input
            formControlName="identification"
            label="Identificación"
            labelPlacement="floating"
            fill="outline"
            [readonly]="disableEdition"
            [errorText]="validateInputErrors('identification')"
          />
          <ion-input
            formControlName="address"
            label="Dirección Domicilio"
            labelPlacement="floating"
            fill="outline"
            [readonly]="disableEdition"
            [errorText]="validateInputErrors('address')"
          />

          <ion-select
            formControlName="roles"
            label="Roles"
            labelPlacement="floating"
            multiple
            fill="outline"
            [disabled]="disableEdition">
            <ion-select-option value="seller">
              Vendedor
            </ion-select-option>
            <ion-select-option value="admin" [disabled]="disableEdition">
              Administrador
              </ion-select-option>
          </ion-select>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- DELETE USER BUTTON -->
  <ion-buttons class="delete-button" slot="end">
    <ion-button fill="solid" color="danger" (click)="deleteUserDetail()">
      <ion-icon name="trash" />
      Eliminar Usuario
    </ion-button>
  </ion-buttons>
</div>
