<ion-content>
  <div class="content">
    <ion-header>
      <ion-title>
        <h1 class="text-indent-50">¡Bienvenido(a) {{userName}}!</h1>
      </ion-title>
      <ion-avatar class="ion-margin avatar" (click)="goToAccount()">
        <img [src]="userPicture || noPhoto" alt="avatar" />
      </ion-avatar>
    </ion-header>
    <ion-grid>
      <h2>Módulos disponibles para usted</h2>
      <ion-row>
        <ion-col
          *ngFor="let module of modules"
          sizeXs="12"
          sizeSm="6"
          sizeMd="6"
          sizeLg="4"
          sizeXl="3"
        >
          <ion-card>
            <ion-card-header>
              <ion-avatar>
                <ion-icon
                  [name]="module.icon"
                  size="large"
                  mode="md"
                ></ion-icon>
              </ion-avatar>
              <ion-card-title>{{module.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content> {{module.description}}</ion-card-content>
            <ion-button fill="clear" (click)="goTo(module.route)"
              >Seleccionar</ion-button
            >
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-footer>
      <ion-button class="ion-margin" slot="end" (click)="logout()">
        <ion-icon name="power" slot="start" />
        Cerrar Sesión
      </ion-button>
    </ion-footer>
  </div>
</ion-content>
