.content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100vw;
  background: linear-gradient(145deg, #d4d4d4 0% 50%, var(--ion-background-color) 50% 100%);
}

.avatar {
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.text-indent-50 {
  text-indent: 82px;
}

ion-grid {
  margin-top: 5vh;
  width: 90vw;
  ion-row {
    max-height: 66vh;
    overflow-y: scroll;
    ion-col {
      display: flex;
      justify-content: center;
    }
  }

  /*SCROLLBAR STYLES*/
  ion-row::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
  }

  ion-row::-webkit-scrollbar-thumb:hover {
    background-color: var(--ion-color-secondary);
    border-radius: 10px;
  }

  ion-row::-webkit-scrollbar {
    width: 10px;
  }

  ion-row::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 20px;
  }
  /*SCROLLBAR STYLES END*/
}

ion-card {
  height: 280px;
  width: 290px;

  ion-card-header{
    ion-avatar{
      ion-icon {
        height: 50px;
        width: 50px;
      }
    }
  }

  ion-card-title {
    height: 38px;
  }

  ion-card-content {
    height: 78px;
  }
}

ion-header {
  display: flex;
}

ion-footer,
ion-header {
  box-shadow: none;
}
