<ion-grid>
  <ion-row>
    <ion-col>
      <form>
        <h2>Formulario para cambio de contraseña</h2>
        <ion-input
          class="ion-margin-bottom ion-margin-top"
          fill="outline"
          label="Nueva contraseña"
          type="password"
          labelPlacement="floating"
        >
        </ion-input>
        <ion-input
          class="ion-margin-bottom ion-margin-top"
          fill="outline"
          label="Confirmar contraseña"
          type="password"
          labelPlacement="floating"
        ></ion-input>

        <ion-button
          class="ion-margin-bottom ion-margin-top"
          expand="block"
          color="primary"
          (click)="onUpdatePassword()"
          >Actulizar contraseña</ion-button
        >
        <ion-button
          class="ion-margin-bottom ion-margin-top"
          expand="block"
          color="primary"
          fill="clear"
          (click)="onCancel()"
          >Cancelar</ion-button
        >
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
