<ion-grid class="m-top">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="m-top">
      <h1>Solicitar restablecimiento</h1>
      <form [formGroup]="passResetForm">
        <ion-input
          fill="outline"
          label="Ingrese su correo electrónico"
          labelPlacement="floating"
          type="email"
          formControlName="email"
          [errorText]="validateInputErrors('email')"
          />

        <ion-button
          expand="block"
          size="large"
          class="ion-margin-top"
          (click)="sendEmail()"
          [disabled]="passResetForm.invalid"
        >
          Enviar
        </ion-button>
        <ion-button
          expand="block"
          size="large"
          fill="clear"
          class="ion-margin-top"
          (click)="goBack()"
        >
          Regresar
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
