.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.h-center-f {
  display: flex;
  justify-content: center;
}

.w-80-percent {
  width: 80%;
}

h1 {
  margin-bottom: 10vh;
}

ion-img {
  margin-bottom: 5vh;
  height: 130px;
}

form {
  padding-inline: 20px;
  width: 100%;
}

p {
  text-align: center;
}
