<div class="container">
  <form [formGroup]="loginForm">
    <ion-img src="../../../../assets/icon/Basic Store - isologo.png" alt="Basic Store" />
    <h1>INICIO DE SESIÓN</h1>

    <ion-input
      class="ion-margin-bottom"
      fill="outline"
      label="Correo Electrónico"
      type="email"
      label-placement="floating"
      formControlName="username"
      [clearInput]="true"
      [errorText]="validateInputErrors('username')"
    ></ion-input>

    <ion-input
      #passInput
      class="ion-margin-bottom"
      fill="outline"
      label="Contraseña"
      label-placement="floating"
      type="password"
      formControlName="password"
      [errorText]="validateInputErrors('password')"
      slot="end"
      (keyup)="showHideShowPassButton()"
      ><ion-button
        #passButton
        *ngIf="isPasswordDirty"
        size="small"
        fill="clear"
        slot="end"
        (click)="showPassword(passInput, passIcon)"
      >
        <ion-icon #passIcon slot="icon-only" name="eye"></ion-icon>
      </ion-button>
    </ion-input>

    <ion-checkbox
      class="ion-margin-bottom"
      labelPlacement="end"
      [disabled]="!loginForm.valid"
      >Recordarme</ion-checkbox
    >
    <br />

    <ion-button
      #loginButton
      expand="block"
      size="large"
      (click)="login(loginButton)"
      [disabled]="!loginForm.valid"
    >
      <ion-spinner *ngIf="isCheckingLogin" name="circular" />
      <ion-label *ngIf="!isCheckingLogin"> INICIAR SESIÓN </ion-label>
    </ion-button>
    <ion-button
      fill="clear"
      expand="block"
      size="large"
      (click)="goTo('auth/reset')"
    >
      Restablecer contraseña
    </ion-button>

  </form>
</div>
