<ion-grid class="m-top">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="m-top">
      <h1>Reestablece tu contraseña</h1>
      <form [formGroup]="changePasswordForm">
        <ion-input
          fill="outline"
          class="ion-margin-bottom"
          label="Nueva contraseña"
          labelPlacement="floating"
          type="password"
          formControlName="newPassword"
          (change)="verifyPass()"
          [errorText]="validateInputErrors('newPassword')"
          />

          <ion-input
          fill="outline"
          class="ion-margin-bottom"
          label="Verificar contraseña"
          labelPlacement="floating"
          type="password"
          formControlName="verifyPassword"
          (change)="verifyPass()"
          [errorText]="validateInputErrors('verifyPassword')"
          />

        <ion-button expand="block" size="large" (click)="resetPassword()" [disabled]="changePasswordForm.invalid">
          Cambiar contraseña
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
