<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="document" class="ion-margin-end"></ion-icon>
        <ion-label>
          <p>Añadir productos a partir de archivo</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="content">
    <ion-col>
      <form
        class="file-receptor"
        (drop)="onFileUp( $event)"
        (dragover)="handleDragOver($event)"
        (click)="openFileChooser(fileInput)"
         dropzone>

        <ion-icon *ngIf="fileSelected" size="large" name="attach"></ion-icon>

        <ion-label>
          <p *ngIf="!fileSelected">Arrastra un archivo a esta zona o selecciónalo del dispositivo</p>
          <p *ngIf="fileSelected">{{fileSelected.name}}</p>
        </ion-label>
        <input type="file" name="excel" [multiple]="false" #fileInput hidden (change)="onFileSelected($event)" />
      </form>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button (click)="onFileSend()" color="primary">Subir archivo</ion-button>
          <ion-button (click)="onCancel()" color="danger">Cancelar</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
