ion-grid {
  width: 90%;
}

.content {
  height: 80%;
  align-items: center;
}

.file-receptor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-style: dashed;
  border-color: #444;
  border-width: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.file-receptor:hover {
  background-color: rgba(135, 207, 235, 0.1);
  border-color: var(--ion-color-secondary);
}
