// To hide ion-content scrollbar
ion-content::part(scroll) {
  scrollbar-width: none;
}

ion-grid {
  height: 90vh;
  width: 60vw;

  .full-content {
    height: 100%;
  }

  ion-row {
    h3 {
      font-size: x-large;
      font-weight: 700;
    }
    p {
      font-family: Calibri;
      line-height: 41px;
      font-size: larger;
    }
  }

  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
