<ion-content [scrollEvents]="true" (ionScroll)="scrollTo(1)" >
  <ion-grid id="grid-content">
    <ion-row>
      <ion-col>
        <h2>¡Bienvenido al Módulo de {{title}}!</h2>
      </ion-col>
    </ion-row>

    <ion-row
      class="full-content"
      *ngFor="let article of articles; let i = index"
      [id]="i"
      (click)="scrollTo(i + 1)"
    >
      <ion-col sizeXs="12" sizeSm="12" sizeMd="5">
        <h3 class="ion-text-center">{{ article.title }}</h3>
        <p class="ion-text-justify">{{ article.text }}</p>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="7">
        <img [src]="article.picture" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
